@model CSCI3110KRTERMPROJ.Models.Role

@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>

<div>
    <hr />
    <h3>Role</h3>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.RoleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <br /><br />
</div>

<div>
    <hr />
    <h4>Persons With This Role</h4>
    @*
    <p>
    <a asp-action="Create">New Person Link</a>
    </p>
    *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Person Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Type
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonsWithRole)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.PersonId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.LName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.TypeCode)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <hr />
    <h4>Skills Expected For Role</h4>
@* 
    <p>
        <a asp-action="Create">Add Skill Link</a>
    </p>
    
 *@
    <table class="table">
         <thead>
            <tr>
                <th>
                    Skill Id
                </th>
                <th>
                    Skill Title
                </th>
                <th>
                    Skill Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SkillsOfaRole)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Skill.SkillId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Skill.SkillTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Skill.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
