@model IEnumerable<CSCI3110KRTERMPROJ.Models.ViewModels.RoleDetailsVM>

@{
    ViewData["Title"] = "IndexVM";
}

<h1>Roles VM</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleSkillCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolePersonCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleSkillCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolePersonCount)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.RoleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
